name: Automatisation des tests DevSecOps
on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Scan des dépendances avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          scan-ref: "./requirements.txt"
          severity: "HIGH,CRITICAL"
          exit-code: "1"

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Scan Dockerfile avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "config"
          scan-ref: "./Dockerfile"
          severity: "HIGH,CRITICAL"
          exit-code: "1"

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"
